@import "tailwindcss";

:root {
  --font-inter: 'Inter', sans-serif;
}

body {
  font-family: var(--font-inter);
  background-color: #fbf9f8;
  color: #1b1c1b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: border-box;
}
